@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400&display=swap');


ul {
	padding: 0;
}

* {
	margin: 10px auto;

}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0px;
}

h1 {
	background-color: #1D4927;
	color: white;
	padding: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Arvo', serif;
	border-top: 4px solid #39632E;
	border-bottom: 4px solid #39632E;

}

h3 {
	text-align: center;
	font-family: 'Arvo', serif;
	color: #1D4927;
	background-color: #D4E3D0;
	width: 75%;
	padding: 10px;
	font-size: x-large;
	border: 3px solid #39632E;
}

h6 {
	background-color: #1D4927;
	color: white;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;

}

.park_name {
	font-size: larger;
}

button {
	background-color: #1D4927;
	color: white;
	padding: 10px;
	border-radius: 20px;
	border: 0px;
	margin: 0px auto;
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

button:active {
	transform: scale(.80);
}

p {
	margin: 5px;

}

ol {
	padding-left: 0;
}

#parksContainer,
#favoritesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.parkCard {
	background: #D4E3D0;
	color: #1D4927;
	width: 300px;
	border-color: #1A3837;
	border-width: 15px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border: 2px solid #39632E;
	padding: 5px 0px;

}

.park_image {
	height: 110px;
	border: 1px solid #39632E;
}

.crumb {
	margin-right: 2em;
	margin: 2rem;
	display: inline;
}

a {
	color: #000201;
}

#welcomeHeader {
	background: #1D4927;
	color: white;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 600px;
	height: fit-content;
	text-align: center;
	font-size: large;
	border: 2px solid #39632E;
}

#addParkForm,
#addParkNotesForm {
	background: #D4E3D0;
	color: #1D4927;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	border: 3px solid #39632E;
}

#openingContent {
	flex-direction: row;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 85%;
	margin-bottom: 30px;
}




input {
	display: block;
	background-color: white;
	border-width: 0px;
	width: 300px;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}