@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400&display=swap');


ul {
	padding: 0
}

* {
	max-width: 1200px;
	margin: 10px auto;

}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0px;
}

h1 {
	background-color: #1A3837;
	color: white;
	padding: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Arvo', serif;
	border-radius: 20px;
}

h3 {
	text-align: center;
	font-family: 'Arvo', serif;
	color: #355755;
}

.logo {
	height: 75px;
	float: left;
	border-radius: 20px;
	padding: 7px;
	margin: 0px
}

.park_name {
	font-weight: 400;
}

button {
	background-color: #1A3837;
	color: white;
	padding: 10px;
	border-radius: 20px;
	border: 0px;
	margin: 0px auto;
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p {
	margin: 5px;

}

ol {
	padding-left: 0;
}

#parksContainer,
#favoritesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.parkCard {
	background: #C3D7D7;
	color: #000201;
	width: 300px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border-radius: 20px;
}

.park_image {
	height: 110px;
	border-radius: 20px;
}

.crumb {
	margin-right: 2em;
	margin: 2rem;
	display: inline;
}

a {
	color: #000201;
}

#addParkForm,
#addParkNotesForm {
	background: #1A3837;
	color: aliceblue;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 500px;
}

.formBtn {
	background-color: #C3D7D7;
	color: #1A3837;
}

input {
	display: block;
	background-color: white;
	width: 300px;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}